/* ItemListForm.css */

body, html {
    margin: 0;background-color: #8fb3a1;
    height: 100%;
  }
  
  .form-container {
    max-width: 400px;
    margin: 50px auto; /* Center horizontally and add 50px margin at the top */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; /* Adjust height to fit content */
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #845959;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #efb4bf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #1c6b8e;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #e7f3e7;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border-left: 5px solid #28a745;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  li span {
    color: #333;
    font-weight: bold;
  }
  